/******** WRAPPER *********/
.elba-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

/******** CAROUSEL *********/

.elba-carousel{
	*,*:before,*:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
     }
}

.elba-carousel, .elba, .elba-island, .elba-content{
	//@include transform(translate3d(0, 0, 0));
	@extend .standard-backface;
	@include no-select;
}

.elba-carousel{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	height: 600px;
}

.elba-viewport{
	overflow: hidden;
    position: relative;
    height: 100%;
}

.elba-slider{
	position: absolute;
    width: 100%;
    height: 100%;
    touch-action: pan-x;
    will-change: transform;
}

.elba{
		position: absolute;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		border: none;
		background: $elba;
		@include no-select;
		*,:before,:after{
  			box-sizing: border-box;
		}
	}

.elba-animatable .elba-loading{
	@include loading('elba-spinner');
}

.elba-not-animatable .elba-loading{
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../img/old-browsers-loader.gif);
}	

.elba-island{
	position: absolute;
	max-width: none;
	@include single-transition(opacity, 500ms, ease-out);
	// opacity: 0;
	z-index: -1;
}

.elba-loaded{
	.elba-island, .elba-content{
		opacity: 1;
	}
}

.no-bg-img{
	background-image: none;
}




/********** CONTENT ***********/
.elba-content{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 2.5em;
	overflow: auto;
	z-index: 5;
	text-indent: 0;
	// opacity: 0;
	color: #000;
	@include no-select;
	
	

	//@include single-transition(all, 500ms, ease-in-out);
}


.elba-caption{
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    padding:0.5rem;
    color: #000;
    background-color: $half-transparent;
    line-height: 1;
    @include no-select;
}

/******** NAVIGATION *********/

.nav-arrow{
	position: absolute;
	z-index: 100;
	top: 50%;
	margin-top: -1.4rem;
	background-color: $elba;
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
	text-decoration: none;
	padding: 0.4rem 0.4rem;
	//font-size: 2rem;
	line-height: 0;
	color: #fff;
	@include single-transition();
	@include no-select;
	@include material-element();
	@include border-radius(2px);
}


.elba-left-nav{
	@extend .nav-arrow;
	left: 1.5rem;

	&:hover{
	
	}

	svg{
		pointer-events: none;
		width: 1.7rem;
		height: 1.7rem;
	}
}

.elba-right-nav{
	@extend .nav-arrow;
	right: 1.5rem;


	&:hover{
		
	}

	svg{
		pointer-events: none;
		width: 1.7rem;
		height: 1.7rem;
	}
}

.elba-svg-arrow{
	fill: #fff;
}


.elba-dots-ctr{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 32px;
	text-align: center;
}


.elba-dot{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 5px;
	border: 2px solid $nav-arrow-background-color;
	background-color: $half-transparent;
	@include single-transition(all, 300ms, ease-in-out);
	@include material-element();
	@include border-radius(12px);
	cursor: pointer;

	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.active-dot{
	background-color: $nav-arrow-background-color;
}
