//$elba : rgb(80,205,184);
$elba : #6BB9F0;
$brown : #965300;
$shadow: rgba(50, 50, 50, 0.60);

$nav-arrow-background-color : $elba;
$nav-arrow-color : #f3f6f5;

$half-transparent: rgba(255,255,255,0.9);

$header-font-family: 'Rufina', serif;
$body-font-family: 'Lucida Console', Monaco, monospace;